/* Body */
body {
    background-color: #202020;
}
/* Whole page */
.wholePage {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #202020;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.9;
}
/* Main Theme */
.mainTheme {
    background-color: #302f2f;
    border: 1px solid wheat;
    color: wheat;
}
/* Mouse Hover Effect */
.mouseHover:hover {
    background-color: wheat;
    color: #202020;
}
/* Menu Hover Effect */
.menuHover {
    transition: text-decoration 0.3s, color 0.3s;
}
.menuHover:hover {
    text-decoration: underline;
    text-underline-offset: 10px;
    color: wheat;
}

/* Grid Container */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    grid-template-rows: 1fr auto;
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
    grid-template-areas: 
        "back header header delete"
        "sidebar section section section"
        "footer footer footer footer";
}
.grid-item {
    font-weight: bold;
    background-color: #202020;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
}
.back, .header, .delete {
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.3);
    border: 1px solid wheat;
    background-color: #302f2f;;
}
.back {
    grid-area: back;
    cursor: pointer;
}
.header {
    grid-area: header;
}
.delete {
    grid-area: delete;
    cursor:
     pointer;
}
.sidebar {
    grid-area: sidebar;
    text-align: left;
}
.section {
    grid-area: section;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}
.footer {
    grid-area: footer;
    text-align: right;
    color: wheat;
}

/* Sections */
.sectionElement {
    border: 2px dashed wheat;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    padding: 5px 15px;
    text-align: left;
    width: 85%;
    height: auto;
    transition: background-color 0.3s, border-color 0.3s;
}
.sectionElement {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
        "sectionHeader sectionHeader addNoteButton deleteSectionButton"
        "notesContainer notesContainer notesContainer notesContainer";
}
.sectionName {
    grid-area: sectionHeader;
    display:flex;
    flex-direction:row;
    align-items:center;
}
.addNote {
    grid-area: addNoteButton;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
}
.deleteSection {
    grid-area: deleteSectionButton;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
}

/* Add Section Menu */
.addSectionMenu, .addNoteMenu, .editNoteMenu {
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    padding: 20px;
    display: none;
    width: 40%;
    height: 30%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.addSectionItem, .addNoteItem {
    text-align: center;
    width: 80%;
    flex: 1 1 0;
}
.addSectionMenu hr, .addNoteMenu hr, .editNoteMenu hr {
    border: none;              
    height: 2px;               
    background-color: wheat;
    width: 90%;
}
.sectionAddStyle, .noteAddStyle {
    padding: 10px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s, border-color 0.3s;
}
.addSectionOptions, .addNoteOptions {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}
.sectionInput, .noteArea {
    font-size:medium;
    background-color: #302f2f;
    border: none;
    color: wheat;
}
.noteArea {
    font-size: larger;
}
.sectionInput::placeholder, .noteArea::placeholder {
    color: wheat;
}
.sectionInput:focus, .noteArea:focus {
    outline: none;
    box-shadow: none;
}
.sectionAdd, .noteAdd {
    font-size: medium;
    cursor: pointer;
}

/* Notes Container */
.notesContainer {
    grid-area: notesContainer;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.noteElement {
    padding: 10px;
    text-align: left;
    width: 95%;
    height: auto;
    transition: background-color 0.3s, border-color 0.3s;
}
.expandSign {
    font-weight: bold;
    margin-right: 10px;
    color: wheat;
    padding: 2px 6px;
    font-size: xx-large;
    cursor: pointer;
    border-radius: 4px;
}
.noteRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    gap: 10px;
}
.noteText {
    width: 80%;
}
.noteDelete, .noteEdit {
    width: 10%;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
}
.noteHr {
    border: none;
    height: 1px;
    background-color: wheat;
    width: 95%;
}
.customCheckbox input {
  display: none;
}
.customCheckbox span {
  display: inline-block;
  transform: scale(2);
  border: 1px solid wheat;
  border-radius: 20%;
  margin-right: 30px;
  background-color: wheat;
  padding: 0% 10%;
}
.customCheckbox input:checked + span {
  color: #302f2f;
}